name: Full build (Linux)
on:
  push:
    branches:
      - main
  # pull_request:
  #   branches:
  #     - main

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:

      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          python -m pip install numpy
          python -m pip install scipy
          python -m pip install matplotlib
          sudo apt-get update
          sudo apt-get upgrade
          sudo apt-get install \
              libmpfr-dev \
              libgmp-dev \

      - name: Install c++ bindings
        shell: bash -l {0}
        run: |
          mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release .. && 
          cmake --build "." --config Release

      - name: Run unit tests
        shell: bash -l {0}
        run: |
          python -m pip install tetgen
          python -m unittest -v

# see https://github.com/libigl/libigl/blob/main/.github/workflows/continuous.yml