name: Full build (Linux)
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:

      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'
          # sudo apt-get update
          # sudo apt-get upgrade 
          # sudo apt-get purge grub\*
          # sudo apt-get install grub-efi
          # sudo apt-get autoremove
          # sudo update-grub
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          python -m pip install numpy
          python -m pip install scipy
          python -m pip install scikit-image
          python -m pip install pytest pytest-timeout pytest-sugar
          sudo apt-get install \
              libmpfr-dev \
              libgmp-dev \
              libgl1-mesa-dev \
              xorg-dev \
              libglu1-mesa-dev

      - name: Install c++ bindings
        shell: bash -l {0}
        run: |
          mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release .. && 
          cmake --build "." --config Release

      - name: Run unit tests
        shell: bash -l {0}
        run: |
          python -m pip install tetgen
          python -m pytest --durations=0

# see https://github.com/libigl/libigl/blob/main/.github/workflows/continuous.yml
